 <ul>
  <% @articles.each do |article| %>
  <hr>
  <div class="card">
  	<div class="card-header info" style="font-color:gray;">
   	 	<%= link_to article.title, article %>
	</div>
  </div>
  <% end %>
  <hr>
</ul>
